<form method="post" action="{{ path('usuario_borrar', {'usuario': usuario.usuario}) }}" onsubmit="return confirm('¿Está seguro que quiere eliminar el usuario?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.usuario) }}">
    <button class="btn">Borrar</button>
</form>
