{% extends 'base.html.twig' %}

{% block title %}Editar Cine{% endblock %}

{% block body %}
    <h1>Editar Cine</h1>

    {{ include('cine/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('cine_index') }}">Ir a listado de cines.</a>

    {{ include('cine/borrar.html.twig') }}
{% endblock %}
