{% extends 'base.html.twig' %}

{% block title %}Nueva Sala{% endblock %}

{% block body %}
<div id="contenedor">
    <link href="{{ asset("css/mantenimiento/sala/nuevo.css") }}" rel="stylesheet">
    <h1>Crear nueva sala</h1>
    
    {{ include('sala/_form.html.twig') }}

    <a href="{{ path('sala_index') }}" class="btn">Ir a listado de salas</a>
</div>
{% endblock %}
