{% extends 'base.html.twig' %}

{% block title %}Nueva Sala{% endblock %}

{% block body %}
    <h1>Crear nueva Sala</h1>

    {{ include('sala/_form.html.twig') }}

    <a href="{{ path('sala_index') }}">Ir a listado de salas</a>
{% endblock %}
