{% extends 'base.html.twig' %}

{% block title %}Nueva sala{% endblock %}

{% block body %}
    <h1>Creae nueva sala</h1>

    {{ include('sala/_form.html.twig') }}

    <a href="{{ path('sala_index') }}">Ir a listado de salas.</a>
{% endblock %}
