h1
{
    font-family: 'Dancing Script', cursive;
    color: #696969;
    margin-left:3%;
}

.btn
{
    border: solid 2px;
    border-color:#dfb636;
    background-color:#FAFAD2;
    margin-bottom: 3%;
    font-weight: bold;
}

.container
{
    margin-top: 3%;
}