{% extends 'base.html.twig' %}

{% block title %}Aforo{% endblock %}

{% block body %}
    <h1>Aforo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Tamaño</th>
                <td>{{ aforo.tamanio }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('aforo_index') }}">Ir a listado de aforo.</a>

    <a href="{{ path('aforo_editar', {'tamanio': aforo.tamanio}) }}">Editar</a>

    {{ include('aforo/borrar.html.twig') }}
{% endblock %}
