{% extends 'base.html.twig' %}

{% block title %}Nuevo Aforo{% endblock %}

{% block body %}
    <h1>Crear nuevo Aforo</h1>

    {{ include('aforo/_form.html.twig') }}

    <a href="{{ path('aforo_index') }}">Ir a listado de aforos.</a>
{% endblock %}
