{% extends 'base.html.twig' %}

{% block title %}Nueva entrada{% endblock %}

{% block body %}
<div id="contenedor">
    <link href="{{ asset("css/mantenimiento/entrada/nueva.css") }}" rel="stylesheet">
    <h1>Crear nueva entrada</h1>

    {{ include('entrada/_form.html.twig') }}

    <a href="{{ path('entrada_index') }}" class="btn">Volver a listado de entradas</a>
</div>
{% endblock %}
