{% extends 'base.html.twig' %}

{% block title %}Nueva película{% endblock %}

{% block body %}
    <h1>Crear nueva película</h1>

    {{ include('pelicula/_form.html.twig') }}

    <a href="{{ path('pelicula_index') }}">Ir a listado de películas</a>
{% endblock %}
