h1
{
    font-family: 'Dancing Script', cursive;
    color: #696969;
}

p
{
    float:left;
}

input
{
    border: solid 2px;
    border-color:#dfb636;
    background-color:white;
    float:left;
}

.btn
{
    border: solid 2px;
    border-color:#dfb636;
    background-color:white;

    margin-right: 1.5%;
}


#contenedor
{
    width: 400px;
    height: 400px;
    margin-left:10px;
}

input, select
{
    border: solid 2px;
    border-color:#dfb636;
    background-color:white;
    margin:10px;
}

button
{
    display:flex;

    float:left;
}

#botones
{
    display: flex;
}