h1
{
    font-family: 'Dancing Script', cursive;
    color: #696969;
}

p
{
    float:left;
}

input
{
    border: solid 2px;
    border-color:#dfb636;
    background-color:white;
    float:left;
}

.btn
{
    border: solid 2px;
    border-color:#dfb636;
    background-color:white;
    margin:  1%;
}

#contenedor
{
    width: 400px;
    height: 400px;
    margin-left:10px;
}

button
{
    display:flex;
    float:left;
}

input, select
{
    border: solid 2px;
    border-color:#dfb636;
    background-color:white;
    margin:10px;
}

form
{
    display:initial;
}