{% extends "base.html.twig" %}
{% block title %}Horarios{% endblock %}

{% block body %}

<link href="{{ asset("css/horariosPelicula.css") }}" rel="stylesheet">
<h1>Horarios</h1>

    <div class="container">
        
        {% for horario in horarios %}

        <div id="horario">
            <a href="{{ path('salaReserva', {'idsala': horario.salaIdsala, 'idhorario': horario.idhorario}) }}" class="btn">{{ horario.fecha|date('d-m-Y') }} {{ horario.Horainicio|date('H:i:s') }}</a>
        </div>

        {% else %}
        <p>No hay horarios disponibles en este momento.</p>

        {% endfor %}
    </div>
    

{% endblock %}