{% extends "base.html.twig" %}
{% block title %}Trailer{% endblock %}

{% block body %}

<div class="embed-responsive embed-responsive-16by9">
    <iframe src="{{pelicula.trailer}}" frameborder="0"></iframe>
  </div>  
{% endblock %}