<header>
    
        <div class="top-header">
            <div class="logo">
                <a href=""><img src="{{asset('imagenes/logo')}}" alt="logo" /></a>
                <p>Teatro del cine</p>
            </div>
            <div class="search">
                <form>
                    <input type="text" value="Buscar.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}"/>
                    <input type="submit" value="">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    
</header>