<form method="post" action="{{ path('horario_borrar', {'idhorario': horario.idhorario}) }}" onsubmit="return confirm('¿Está seguro de borrar este horario?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ horario.idhorario) }}">
    <button class="btn">Borrar</button>
</form>
