{% extends 'base.html.twig' %}

{% block title %}Nuevo horario{% endblock %}

{% block body %}
    <h1>Create nuevo horario</h1>

    {{ include('horario/_form.html.twig') }}

    <a href="{{ path('horario_index') }}">Volver a listado de horarios.</a>
{% endblock %}
